			measurements {
				display: table;
				border-collapse: collapse;
				margin: auto;
				caption-side: top;
				text-align: center;

			}
			measurements item {
				display: table-row;
			}
			measurements time {
				display :table-cell;
				border: 1px solid black;
				padding: 3px;
			}
			measurements value{
				display :table-cell;
				border: 1px solid black;
				padding: 3px;
			}
			measurements number{
				display: table-cell;
				border: 1px solid black;
				padding: 3px;
			}
